.footer {
  background-color: black;
  color: #fff;
  text-align: start;
  padding: 50px 0px 50px 100px;
}

a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 7px;
}

.top {
  margin-bottom: 60px;
}

.bottom {
  display: flex;
  gap: 200px;
  align-items: center;
}
